<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @item.nombre %>
</p>

<p>
  <strong>Codigo:</strong>
  <%= @item.codigo %>
</p>

<p>
  <strong>Comision:</strong>
  <%= @item.comision %>
</p>

<p>
  <strong>Descuento:</strong>
  <%= @item.descuento %>
</p>

<p>
  <strong>Precio venta:</strong>
  <%= @item.precio_venta %>
</p>

<p>
  <strong>Precio compra:</strong>
  <%= @item.precio_compra %>
</p>

<p>
  <strong>Foto:</strong>
  <%= @item.foto %>
</p>

<p>
  <strong>Proveedor:</strong>
  <%= @item.proveedor %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @item.descripcion %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @item.brand %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @item.unit %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item.category %>
</p>

<p>
  <strong>Proveedor:</strong>
  <%= @item.proveedor %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @item.stock %>
</p>

<p>
  <strong>Min stock:</strong>
  <%= @item.min_stock %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @item.precio %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
